<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%magenta(%d{yyyy-MM-dd HH:mm:ss} [%-10.10(%class{0})] %level -) %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
    </appender>

    <!--    <logger name="tech.themukha" level="DEBUG"/>-->
    <logger name="tech.themukha" level="INFO"/>
    <logger name="io.qameta.allure.AllureLifecycle" level="OFF"/>
    <logger name="org.testcontainers" level="OFF" />
    <logger name="tc" level="ERROR" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>