<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE_INFO" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%magenta(%d{yyyy-MM-dd HH:mm:ss} [%-10.10(%class{0})] %-5.5(%level) -) %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="CONSOLE_DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%gray(%d{yyyy-MM-dd HH:mm:ss} [%-10.10(%class{0})] %-5.5(%level) - %msg%n)</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="CONSOLE_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss} [%-10.10(%class{0})] %-5.5(%level) - %msg%n)</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="tech.themukha" level="DEBUG">
        <appender-ref ref="CONSOLE_INFO" />
<!--        <appender-ref ref="CONSOLE_DEBUG" />-->
        <appender-ref ref="CONSOLE_ERROR" />
    </logger>
    <logger name="io.qameta.allure.AllureLifecycle" level="OFF"/>
    <logger name="org.testcontainers" level="OFF" />
    <logger name="tc" level="ERROR" />
<!--    <root level="INFO">-->
<!--        <appender-ref ref="CONSOLE" />-->
<!--    </root>-->
</configuration>